* {
  padding: 0px;
}

#container {
  width: 80%;
  margin: auto;
  text-align: center;
}

label {
  display: inline-block;
  width: 55px;
}
input {
  display: inline-block;
}

th, td {
  padding: 0.5em 1em;
}

#btInsert {
  margin: 15px;
  margin-left: 35px;
  display: inline-block;
}

#updateUserButton {
  margin: 15px;
  margin-left: 35px;
  display: inline-block;
}
